# Table of Contents
1. [Imports](#imports)
2. [Import Data](#importData)
    1. [Crowdedness Data](#crowdData)
    2. [Sensor Data](#senData)
3. [Save coordinates Cameras](#cords)
4. [Data to Dict](#dict)
5. [DataFrame to File](#CSV)

# Imports <a name="imports"></a>

In [65]:
import pandas as pd

# Import Data <a name="importData"></a>

## Crowdedness Data <a name="crowdData"></a>
The crowdedness count per camera, per day, per hour

In [66]:
#Load in the data
crowd_df = pd.read_excel("../../../Data_thesis/CMSA/cmsa_data.xlsx")

In [67]:
#Group the counts per hour
crowd_df = crowd_df.groupby(["richting", "datum", "uur"])["SampleCount"].sum().reset_index()

In [68]:
#Change names columns
crowd_df = crowd_df.rename(index=str, columns={"richting": "Sensor", "datum": "Date", "uur": "Hour", 
                                               "SampleCount": "CrowdednessCount"})

In [69]:
#Insert columns
crowd_df.insert(3, "SensorLongitude", 0)
crowd_df.insert(4, "SensorLatitude", 0)

In [70]:
#Example Contents
crowd_df.head()

  Sensor       Date  Hour  SensorLongitude  SensorLatitude  CrowdednessCount
0      2 2018-03-11     0                0               0                 0
1      2 2018-03-11     1                0               0                 0
2      2 2018-03-11     2                0               0                 0
3      2 2018-03-11     3                0               0                 0
4      2 2018-03-11     4                0               0                 0

## Sensor Locations <a name="senData"></a>
The location of the cameras

In [71]:
#Load in the data
loc_df = pd.read_csv("../../../Data_thesis/Open Data/crowdedness_sensoren.csv", sep=";")

In [72]:
#Select columns to use
loc_df = loc_df[["Objectnummer", "LNG", "LAT"]]

In [73]:
#Example contents
loc_df.head()

  Objectnummer        LNG         LAT
0      GAWW-03  4,8973932  52,3725037
1      GAWW-03  4,8973336  52,3725237
2      GAWW-02  4,8988705  52,3737982
3      GAWW-02  4,8989027  52,3737857
4      GAWW-01  4,8997667   52,374627

# Save coordinates needed cameras <a name="cords"></a>
Save the coordinates of the cameras we will use as target values

In [74]:
#List needed cameras
needed_sensors = ["GAWW-02", "GAWW-03"]

#change df into dict
loc_dict = loc_df.to_dict("index")

In [75]:
#Dict to saved the needed locations in
sensor_dict = {}

for k, v in loc_dict.items():
    
    #Save only the cameras with the object nummer given above
    if v["Objectnummer"] in needed_cameras:
        
        #Replace the "." with "," to make sure the coordinates can be turned into floats
        v["LNG"] = float(v["LNG"].replace(",", "."))
        v["LAT"] = float(v["LAT"].replace(",", "."))
        
        #Save all contents in dict
        sensor_dict[v["Objectnummer"]] = {"Longitude": v["LNG"], "Latitude": v["LAT"]}

# Data to Dict <a name="dict"></a>

In [77]:
#Change df into dict
crowd_dict = crowd_df.to_dict("index")

In [78]:
#Different camera names for given camera name
gaww_02 = [2, "02R", "2R", "Oude Kennissteeg Occ wifi"]
gaww_03 = [3, "03R"]

#Loop over dict
for k, v in crowd_dict.items():
    
    #Change camera name
    if v["Sensor"] in gaww_02:
        v["Sensor"] = "GAWW-02"
        
        #Change the ccordinates of the given camera to the correct ones
        v["SensorLongitude"] = sensor_dict["GAWW-02"]["Longitude"]
        v["SensorLatitude"] = sensor_dict["GAWW-02"]["Latitude"]
        
    elif v["Sensor"] in gaww_03:
        v["Sensor"] = "GAWW-03"
        v["SensorLongitude"] = sensor_dict["GAWW-03"]["Longitude"]
        v["SensorLatitude"] = sensor_dict["GAWW-03"]["Latitude"]

In [79]:
#Return from Dict
crowd_df = pd.DataFrame.from_dict(crowd_dict, orient="index")

In [80]:
#Example contents
crowd_df.head()

,Sensor,Date,Hour,SensorLongitude,SensorLatitude,CrowdednessCount
0,GAWW-02,2018-03-11,0,4.898903,52.373786,0
1,GAWW-02,2018-03-11,1,4.898903,52.373786,0
10,GAWW-02,2018-03-11,10,4.898903,52.373786,0
100,GAWW-02,2018-03-15,4,4.898903,52.373786,39
1000,GAWW-02,2018-04-21,17,4.898903,52.373786,1618

# DF to File <a name="CSV"></a>

In [81]:
crowd_df.to_csv("../../../Data_thesis/Full_Datasets/Crowdedness.csv", index=False)