# Imports

In [1]:
import pandas as pd

# Import Data

In [27]:
#Load in the data
crowd_df = pd.read_excel("../../../Data_thesis/CMSA/cmsa_data.xlsx")

In [32]:
#Group the counts per hour
crowd_df = crowd_df.groupby(["richting", "datum",  "jaar", "maand", "dag", "uur"])["SampleCount"].sum().reset_index()

In [33]:
#Example contents
crowd_df.head()

  richting      datum  jaar  maand  dag  uur  SampleCount
0        2 2018-03-11  2018      3   11    0            0
1        2 2018-03-11  2018      3   11    1            0
2        2 2018-03-11  2018      3   11    2            0
3        2 2018-03-11  2018      3   11    3            0
4        2 2018-03-11  2018      3   11    4            0

# DF to File

In [37]:
crowd_df.to_csv("../../../Data_thesis/Full_Datasets/Crowdedness.csv", index=False)