# Imports

In [2]:
# For CSV files
import json
import pandas as pd

# Open Data

## Data Exploration

In [43]:
#Import JSON file
with open("../Data/Original/TRAMMETRO_PUNTEN_2019.json") as gvb_data:
    stations = json.load(gvb_data)
    stations = stations["features"]
   
    #Lines that stop at the given station
    print("Lines: ", stations[0]["properties"]["Lijn_select"])

    #Coordinates of the station
    print("Coordinates: ", stations[0]["geometry"]["coordinates"])

    #Select Tramstations
    for station in stations:
        if station["properties"]["Modaliteit"] == "Tram":
            
            tram_dict = {"Lines": station["properties"]["Lijn_select"], "Coordinates": station["geometry"]["coordinates"]}
            
            with open("../Data/Modified/TramStations.json", "a") as f:
                json.dump(tram_dict, f)
            
    
    #Select Metrostations
    for station in stations:
        if station["properties"]["Modaliteit"] == "Metro":
            
            metro_dict = {"Lines": station["properties"]["Lijn_select"], "Coordinates": station["geometry"]["coordinates"]}
            
            with open("../Data/Modified/MetroStations.json", "a") as f:
                json.dump(metro_dict, f)

Lines:  02|11|12|13|17
Coordinates:  [4.893349, 52.376064]

# Sample Data

## Data Exploration

### Ritten

In [20]:
ritten = pd.read_excel("../../../Data_thesis/Sample_data/GVB/full.xlsx")

In [21]:
ritten.head()

,Datum,UurgroepOmschrijving (van vertrek),VertrekHalteCode,VertrekHalteNaam,VertrekXCoord,VertrekYCoord,AantalRitten
0,2018-12-24,00:00 - 00:59,0,Overig,0.0,0.000000e+00,77.0
1,2018-12-24,00:00 - 00:59,5046,Rembrandtplein,489627975.0,5.236626e+09,13.0
2,2018-12-24,00:00 - 00:59,5096,Centraal Station,490049319.0,5.237968e+09,10.0
3,2018-12-24,00:00 - 00:59,6063,Leidseplein,488064547.0,5.236476e+09,10.0
4,2018-12-24,01:00 - 01:59,0,Overig,0.0,0.000000e+00,132.0

In [22]:
niew_ritten = ritten.loc[ritten["VertrekHalteNaam"] == "Nieuwmarkt"]
rok_ritten = ritten.loc[ritten["VertrekHalteNaam"] == "Rokin"]

In [23]:
niew_ritten.head()

,Datum,UurgroepOmschrijving (van vertrek),VertrekHalteCode,VertrekHalteNaam,VertrekXCoord,VertrekYCoord,AantalRitten
230,2018-12-24,06:00 - 06:59,NMT,Nieuwmarkt,490123885.0,5.237194e+09,28.0
542,2018-12-24,07:00 - 07:59,NMT,Nieuwmarkt,490123885.0,5.237194e+09,76.0
966,2018-12-24,08:00 - 08:59,NMT,Nieuwmarkt,490123885.0,5.237194e+09,115.0
1424,2018-12-24,09:00 - 09:59,NMT,Nieuwmarkt,490123885.0,5.237194e+09,119.0
1921,2018-12-24,10:00 - 10:59,NMT,Nieuwmarkt,490123885.0,5.237194e+09,166.0

### Herkomst

In [24]:
herkomst = pd.read_excel("../../../Data_thesis/Sample_data/GVB/herkomst.xlsx")

In [25]:
herkomst.head()

,Datum,VertrekHalteCode,VertrekHalteNaam,VertrekXCoord,VertrekYCoord,AantalReizen
0,2018-12-24,0,Overig,0.0,0.000000e+00,6228.0
1,2018-12-24,1,Muiderpoortstation,493287450.0,5.236133e+09,133.0
2,2018-12-24,5,Muiderpoortstation,493280219.0,5.236122e+09,531.0
3,2018-12-24,6,Muiderpoortstation,493368466.0,5.236106e+09,240.0
4,2018-12-24,7,Muiderpoortstation,493356602.0,5.236118e+09,297.0

In [26]:
niew_herkomst = herkomst.loc[herkomst["VertrekHalteNaam"] == "Nieuwmarkt"]
rok_herkomst = herkomst.loc[herkomst["VertrekHalteNaam"] == "Rokin"]

In [28]:
niew_herkomst.head()

,Datum,VertrekHalteCode,VertrekHalteNaam,VertrekXCoord,VertrekYCoord,AantalReizen
943,2018-12-24,NMT,Nieuwmarkt,NaN,NaN,4580.0
1760,2018-12-25,NMT,Nieuwmarkt,NaN,NaN,3331.0
2617,2018-12-26,NMT,Nieuwmarkt,NaN,NaN,4375.0
3586,2018-12-27,NMT,Nieuwmarkt,NaN,NaN,5771.0
4569,2018-12-28,NMT,Nieuwmarkt,NaN,NaN,6695.0

### Bestemming

In [ ]:
bestemming = pd.read_excel("../../../Data_thesis/Sample_data/GVB/bestemming.xlsx")