# Imports

In [2]:
import pandas as pd
import json

#Train/Test section
from sklearn.model_selection import train_test_split

#Models
from sklearn.ensemble import RandomForestRegressor

# Import Data

## GVB Data

In [19]:
#Full GVB Dataset
gvb_df = pd.read_csv("../../../Data_thesis/Full_Datasets/GVB.csv")

In [20]:
#Contents
gvb_df.head()

,Date,Hour,ArrivalStationCode,ArrivalStation,ArrivalLat,ArrivalLon,NumberOfArrivals,DepartureStationCode,DepartureStation,DepartureLat,DepartureLon,NumberOfDepartures,weekday,is_weekend,NumberOfPassengers
0,2018-02-05,0,04021,Osdorpplein,4.803229,52.359132,19,05138,Dam,4.891309,52.373554,87.0,0,0,106.0
1,2018-02-05,0,04050,Meer en Vaart,4.809944,52.356369,42,05139,Dam,4.891245,52.372727,72.0,0,0,114.0
2,2018-02-05,0,05032,Dam,4.895494,52.374929,14,06031,E. Wolffstraat,4.867279,52.370288,11.0,0,0,25.0
3,2018-02-05,0,05063,Dam,4.890646,52.372446,22,06037,Bilderdijkstraat,4.869857,52.370829,49.0,0,0,71.0
4,2018-02-05,0,05069,Nieuwezijds Kolk,4.893731,52.376288,23,06038,De Clercqstraat,4.870403,52.370616,49.0,0,0,72.0

## Amsterdam Event Data

In [80]:
#Full Events Dataset
events_df = pd.read_csv("../../../Data_thesis/Full_Datasets/Events.csv")

In [82]:
events_df["Data"] = events_df["Data"].astype(str).values.tolist()

In [83]:
events_df.head()

,Event,Latitude,Longtitude,Data
0,Springsnow Festival,"52,3726380","4,8941060","['20-04-2018', '20-05-2018']"
1,Vurige Tongen,"52,4103320","4,7490690","['20-05-2018', '21-05-2018']"
2,Sneakerness,"52,3828340","4,9204560","['03-06-2018', '04-06-2018']"
3,Dutch Raw Food Festival,"52,4362550","4,8167080",['17-06-2018']
4,Holland Festival,"52,3615820","4,8854790","['02-06-2018', '03-06-2018', '04-06-2018', '05..."

## Crowdedness Data

In [29]:
#Full Crowdedness Dataset
crowd_df = pd.read_csv("../../../Data_thesis/Full_Datasets/Crowdedness.csv")

In [30]:
crowd_df.head()

,Sensor,Date,Hour,SensorLongitude,SensorLatitude,CrowdednessCount
0,GAWW-02,2018-03-11,0,4.898903,52.373786,0
1,GAWW-02,2018-03-11,1,4.898903,52.373786,0
2,GAWW-02,2018-03-11,10,4.898903,52.373786,0
3,GAWW-02,2018-03-15,4,4.898903,52.373786,39
4,GAWW-02,2018-04-21,17,4.898903,52.373786,1618

# Data Preperation

## Combine datasets

In [77]:
full = pd.merge(gvb_df, crowd_df, on=["Date", "Hour"])

In [78]:
full.insert(18, "is_event", 0)
full.insert(19, "event_lon", 0)
full.insert(20, "event_lat", 0)

In [79]:
full.head()

,Date,Hour,ArrivalStationCode,ArrivalStation,ArrivalLat,ArrivalLon,NumberOfArrivals,DepartureStationCode,DepartureStation,DepartureLat,...,weekday,is_weekend,NumberOfPassengers,Sensor,SensorLongitude,SensorLatitude,is_event,event_lon,event_lat,CrowdednessCount
0,2018-04-05,0,04279,Kasterleepark,4.811042,52.346389,18,NMT,Nieuwmarkt,4.901239,...,3,0,270.0,GAWW-02,4.898903,52.373786,0,0,0,1241
1,2018-04-05,0,04279,Kasterleepark,4.811042,52.346389,18,NMT,Nieuwmarkt,4.901239,...,3,0,270.0,GAWW-02,4.898903,52.373786,0,0,0,0
2,2018-04-05,0,04279,Kasterleepark,4.811042,52.346389,18,NMT,Nieuwmarkt,4.901239,...,3,0,270.0,GAWW-02,4.898903,52.373786,0,0,0,811
3,2018-04-05,0,05032,Dam,4.895494,52.374929,23,USD,Uilenstede,4.869097,...,3,0,50.0,GAWW-02,4.898903,52.373786,0,0,0,1241
4,2018-04-05,0,05032,Dam,4.895494,52.374929,23,USD,Uilenstede,4.869097,...,3,0,50.0,GAWW-02,4.898903,52.373786,0,0,0,0

## DF to Dict
In order to check whether any events are on the given date

In [84]:
full_dict = full.to_dict("index")
events_dict = events_df.to_dict("index")

In [ ]:
for k,v in full_dict.items():
    if v["Date"] in

## Construct Subset to train and test Model

In [42]:
#Drop Unusable columns
model_df = full.drop(columns=["Date", "ArrivalStationCode", "ArrivalStation", "DepartureStationCode", "DepartureStation", "Sensor",
                             "NumberOfPassengers"])

In [43]:
model_df.head()

,Hour,ArrivalLat,ArrivalLon,NumberOfArrivals,DepartureLat,DepartureLon,NumberOfDepartures,weekday,is_weekend,SensorLongitude,SensorLatitude,CrowdednessCount
0,0,4.811042,52.346389,18,4.901239,52.371942,252.0,3,0,4.898903,52.373786,1241
1,0,4.811042,52.346389,18,4.901239,52.371942,252.0,3,0,4.898903,52.373786,0
2,0,4.811042,52.346389,18,4.901239,52.371942,252.0,3,0,4.898903,52.373786,811
3,0,4.895494,52.374929,23,4.869097,52.321510,27.0,3,0,4.898903,52.373786,1241
4,0,4.895494,52.374929,23,4.869097,52.321510,27.0,3,0,4.898903,52.373786,0

## Train/Test Split
Split the dataset into training and test data, using a [function from Sklearn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

#### Train_Test_split Parameters
- *input*: 
    - *x*: data used to predict laballed data
        - Hour slot
        - Weekday (int)
        - Weekend (Binary)
    - *y*: laballed data
        - Number of rides (int)
- *test_size*: Proportion of total data used as test data, rest is training data
- *random_state*: Number used as seed by the *Random Number Generator*

In [45]:
#Select only the values from each row
data = model_df.values

#Split the labels from the rest
x = data[:, :11]
y = data[:, 11]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 42)

In [46]:
#First three rows explanatory variables of the training set
x_train[:3]

array([[ 0.        ,  4.90123885, 52.37194169, 99.        ,  4.90127481,
        52.37938365, 55.        ,  4.        ,  0.        ,  4.8989027 ,
        52.3737857 ],
       [ 0.        ,  4.89373093, 52.37628765, 41.        ,  4.8688049 ,
        52.33394768, 21.        ,  0.        ,  0.        ,  4.8989027 ,
        52.3737857 ],
       [ 0.        ,  4.86909673, 52.32150984, 41.        ,  4.89549359,
        52.37492885, 41.        ,  6.        ,  1.        ,  4.8973336 ,
        52.3725237 ]])

In [47]:
#First three rows response variable training set
y_train[:3]

array([1641., 1112., 1869.])

# Models

## Random Forrest Regressor
Implement the [Sklearn Version](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html)

Parameters
- *N-Estimators*: Number of trees in the model
- *criterion*: loss function
- *n_jobs*: The number of jobs to run in parallel for both fit and predict
- *random_state*: random_state is the seed used by the random number generator
- *bootstrap*: Whether bootstrap samples are used when building trees

In [48]:
#Set parameters model
rfg = RandomForestRegressor(n_estimators=100, criterion="mse", n_jobs=5, random_state=42, bootstrap=True)

In [49]:
#fit the model
rfg.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=5,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [50]:
#Score the model
rfg_score = rfg.score(x_test, y_test)
print("Accuracy: ", rfg_score)

Accuracy:  0.31116267957390065