# Imports

In [2]:
import pandas as pd
import json

#Train/Test section
from sklearn.model_selection import train_test_split

#Models
from sklearn.ensemble import RandomForestRegressor

# Import Data

## GVB Data

In [57]:
#Full GVB Dataset
gvb_df = pd.read_csv("../../../Data_thesis/Full_Datasets/GVB.csv")

In [58]:
#Contents
gvb_df.head()

,Date,Hour,NieuwmarktCode,NieuwmarktLat,NieuwmarktLon,NieuwmarktArrivals,NieuwmarktDepartures,NieuwezijdsCode,NieuwezijdsLat,NieuwezijdsLon,...,DamLon,DamArrivals,DamDepartures,SpuiCode,SpuiLat,SpuiLon,SpuiArrivals,SpuiDepartures,weekday,is_weekend
0,2018-01-01,100,NMT,4.901239,52.371942,11.0,340.0,5069,4.893731,52.376288,...,52.373127,0.0,0.0,5062,4.889259,52.369097,0.0,0.0,0,0
1,2018-01-01,200,NMT,4.901239,52.371942,48.0,175.0,5069,4.893731,52.376288,...,52.373127,21.0,39.0,5062,4.889259,52.369097,0.0,0.0,0,0
2,2018-01-01,300,NMT,4.901239,52.371942,10.0,137.0,5069,4.893731,52.376288,...,52.373127,13.0,48.0,5062,4.889259,52.369097,0.0,0.0,0,0
3,2018-01-01,400,NMT,4.901239,52.371942,16.0,48.0,5069,4.893731,52.376288,...,52.373127,0.0,34.0,5062,4.889259,52.369097,0.0,0.0,0,0
4,2018-01-01,500,NMT,4.901239,52.371942,17.0,56.0,5069,4.893731,52.376288,...,52.373127,0.0,20.0,5062,4.889259,52.369097,0.0,0.0,0,0

## Amsterdam Event Data

In [28]:
#Full Events Dataset
events_df = pd.read_csv("../../../Data_thesis/Full_Datasets/Events.csv")

In [29]:
events_df["Data"] = events_df["Data"].astype(str).values.tolist()

In [30]:
events_df.head()

,Event,Latitude,Longtitude,Data
0,Springsnow Festival,"52,3726380","4,8941060","['20-04-2018', '20-05-2018']"
1,Vurige Tongen,"52,4103320","4,7490690","['20-05-2018', '21-05-2018']"
2,Sneakerness,"52,3828340","4,9204560","['03-06-2018', '04-06-2018']"
3,Dutch Raw Food Festival,"52,4362550","4,8167080",['17-06-2018']
4,Holland Festival,"52,3615820","4,8854790","['02-06-2018', '03-06-2018', '04-06-2018', '05..."

## Crowdedness Data

In [102]:
#Full Crowdedness Dataset
crowd_df = pd.read_csv("../../../Data_thesis/Full_Datasets/Crowdedness.csv")

In [103]:
#Only select one camera --> GAWW-02
crowd_df = crowd_df[crowd_df["Sensor"] == "GAWW-02"]

In [104]:
crowd_df.head()

,Sensor,Date,Hour,SensorLongitude,SensorLatitude,CrowdednessCount
0,GAWW-02,2018-03-11,0,4.898903,52.373786,0
1,GAWW-02,2018-03-11,1,4.898903,52.373786,0
2,GAWW-02,2018-03-11,10,4.898903,52.373786,0
3,GAWW-02,2018-03-15,4,4.898903,52.373786,39
4,GAWW-02,2018-04-21,17,4.898903,52.373786,1618

# Data Preperation

## Combine datasets

In [105]:
full = pd.merge(gvb_df, crowd_df, on=["Date", "Hour"])

In [37]:
full.insert(27, "is_event", 0)
full.insert(28, "event_lon", 0)
full.insert(29, "event_lat", 0)

In [106]:
full.head()

,Date,Hour,NieuwmarktCode,NieuwmarktLat,NieuwmarktLon,NieuwmarktArrivals,NieuwmarktDepartures,NieuwezijdsCode,NieuwezijdsLat,NieuwezijdsLon,...,SpuiLat,SpuiLon,SpuiArrivals,SpuiDepartures,weekday,is_weekend,Sensor,SensorLongitude,SensorLatitude,CrowdednessCount
0,2018-04-01,0,NMT,4.901239,52.371942,31.0,115.0,5069,4.893731,52.376288,...,4.889259,52.369097,0.0,46.0,6,1,GAWW-02,4.898903,52.373786,2445
1,2018-04-01,0,NMT,4.901239,52.371942,31.0,115.0,5069,4.893731,52.376288,...,4.889259,52.369097,0.0,46.0,6,1,GAWW-02,4.898903,52.373786,0
2,2018-04-01,0,NMT,4.901239,52.371942,31.0,115.0,5069,4.893731,52.376288,...,4.889259,52.369097,0.0,46.0,6,1,GAWW-02,4.898903,52.373786,1368
3,2018-05-01,0,NMT,4.901239,52.371942,48.0,116.0,5069,4.893731,52.376288,...,4.889259,52.369097,17.0,11.0,1,0,GAWW-02,4.898903,52.373786,793
4,2018-05-01,0,NMT,4.901239,52.371942,48.0,116.0,5069,4.893731,52.376288,...,4.889259,52.369097,17.0,11.0,1,0,GAWW-02,4.898903,52.373786,1105

## DF to Dict
In order to check whether any events are on the given date

## Construct Subset to train and test Model

In [108]:
#Drop Unusable columns
model_df = full.drop(columns=["Date", "NieuwmarktCode", "NieuwezijdsCode", "DamCode", "SpuiCode", "Sensor"])

In [109]:
model_df.head()

,Hour,NieuwmarktLat,NieuwmarktLon,NieuwmarktArrivals,NieuwmarktDepartures,NieuwezijdsLat,NieuwezijdsLon,NieuwezijdsArrivals,NieuwezijdsDepartures,DamLat,...,DamDepartures,SpuiLat,SpuiLon,SpuiArrivals,SpuiDepartures,weekday,is_weekend,SensorLongitude,SensorLatitude,CrowdednessCount
0,0,4.901239,52.371942,31.0,115.0,4.893731,52.376288,20.0,90.0,4.89008,...,254.0,4.889259,52.369097,0.0,46.0,6,1,4.898903,52.373786,2445
1,0,4.901239,52.371942,31.0,115.0,4.893731,52.376288,20.0,90.0,4.89008,...,254.0,4.889259,52.369097,0.0,46.0,6,1,4.898903,52.373786,0
2,0,4.901239,52.371942,31.0,115.0,4.893731,52.376288,20.0,90.0,4.89008,...,254.0,4.889259,52.369097,0.0,46.0,6,1,4.898903,52.373786,1368
3,0,4.901239,52.371942,48.0,116.0,4.893731,52.376288,35.0,82.0,4.89008,...,288.0,4.889259,52.369097,17.0,11.0,1,0,4.898903,52.373786,793
4,0,4.901239,52.371942,48.0,116.0,4.893731,52.376288,35.0,82.0,4.89008,...,288.0,4.889259,52.369097,17.0,11.0,1,0,4.898903,52.373786,1105

## Train/Test Split
Split the dataset into training and test data, using a [function from Sklearn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

#### Train_Test_split Parameters
- *input*: 
    - *x*: data used to predict laballed data
        - Hour slot
        - Weekday (int)
        - Weekend (Binary)
    - *y*: laballed data
        - Number of rides (int)
- *test_size*: Proportion of total data used as test data, rest is training data
- *random_state*: Number used as seed by the *Random Number Generator*

In [124]:
#Select only the values from each row
data = model_df.values

#Split the labels from the rest
x = data[:, :21]
y = data[:, 21]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 42)

In [111]:
#First three rows explanatory variables of the training set
x_train[:3]

array([[  0.        ,   4.90123885,  52.37194169, 125.        ,
        303.        ,   4.89373093,  52.37628765,  53.        ,
         69.        ,   4.89008027,  52.37312668, 107.        ,
        401.        ,   4.88925912,  52.36909673,   0.        ,
         19.        ,   6.        ,   1.        ,   4.8989027 ,
         52.3737857 ],
       [  0.        ,   4.90123885,  52.37194169,  45.        ,
        179.        ,   4.89373093,  52.37628765,   0.        ,
         68.        ,   4.89008027,  52.37312668,  55.        ,
        312.        ,   4.88925912,  52.36909673,   0.        ,
         13.        ,   1.        ,   0.        ,   4.8989027 ,
         52.3737857 ],
       [  0.        ,   4.90123885,  52.37194169,  32.        ,
         74.        ,   4.89373093,  52.37628765,  14.        ,
         42.        ,   4.89008027,  52.37312668,  42.        ,
        191.        ,   4.88925912,  52.36909673,   0.        ,
         14.        ,   3.        ,   0.        ,   4.8989027 ,
         52.3737857 ]])

In [98]:
#First three rows response variable training set
y_train[:3]

array([1327., 1198.,  810.])

# Models

## Random Forrest Regressor
Implement the [Sklearn Version](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html)

Parameters
- *N-Estimators*: Number of trees in the model
- *criterion*: loss function
- *n_jobs*: The number of jobs to run in parallel for both fit and predict
- *random_state*: random_state is the seed used by the random number generator
- *bootstrap*: Whether bootstrap samples are used when building trees

In [155]:
#Set parameters model
rfg = RandomForestRegressor(n_estimators=100, criterion="mse", n_jobs=20, random_state=42, bootstrap=True)

In [156]:
#fit the model
rfg.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=20,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [157]:
#Score the model
rfg_score = rfg.score(x_test, y_test)
print("Accuracy: ", rfg_score)

Accuracy:  -0.06214895250439922