# Imports

In [17]:
import pandas as pd
import json

# Data
Import the following data:
- GVB: *Number of travelers per hour at given station coordinates*
- Event Data: *Dates and locations for events in Amsterdam* --> **OUTLIERS**

## GVB

In [18]:
#Read from file
gvb = pd.read_csv("../../../Data_thesis/Sample_data/GVB/ritten.csv")

In [19]:
#Check contents
gvb.head()

,Unnamed: 0,Datum,UurgroepOmschrijving (van vertrek),VertrekHalteCode,VertrekHalteNaam,VertrekXCoord,VertrekYCoord,AantalRitten
0,5,2018-12-24,01:00 - 01:59,5031,Dam,489348393.0,5.237341e+09,58.0
1,8,2018-12-24,01:00 - 01:59,5068,Dam,489124121.0,5.237436e+09,28.0
2,16,2018-12-24,02:00 - 02:59,5031,Dam,489348393.0,5.237341e+09,103.0
3,18,2018-12-24,02:00 - 02:59,5068,Dam,489124121.0,5.237436e+09,25.0
4,26,2018-12-24,03:00 - 03:59,5031,Dam,489348393.0,5.237341e+09,39.0

### Descrive the dataframe
- *Count*: Count number of non-NA/null observations
- *Mean*: Mean of the values.
- *STD*: Standard deviation of the obersvations.
- *Min*: Minimum of the values in the object.
- *25%, 50%, 75%*: Returns the given percentile
- *Max*: Maximum of the values in the object.

In [20]:
gvb.describe()

         Unnamed: 0  VertrekXCoord  VertrekYCoord  AantalRitten
count    972.000000   9.720000e+02   9.720000e+02    972.000000
mean   24975.330247   4.892755e+08   5.237234e+09    203.260288
std    14484.601039   3.871362e+05   1.903516e+05    253.135267
min        5.000000   4.889259e+08   5.236910e+09     10.000000
25%    12567.750000   4.890271e+08   5.237194e+09     40.000000
50%    24419.500000   4.890794e+08   5.237318e+09     94.500000
75%    37513.250000   4.893484e+08   5.237368e+09    271.250000
max    49712.000000   4.901239e+08   5.237493e+09   1371.000000

## Events

In [21]:
with open("../Data/Modified/Events.json") as f:
    events = json.load(f)

In [22]:
print(events[0])

{'Event': 'Springsnow Festival', 'Coordinates': {'Latitude': '52,3726380', 'Longtitude': '4,8941060'}, 'Data': {'startdate': '20-04-2018', 'enddate': '20-05-2018'}}

# Model
Below a few models will be instantiated

## GVB Data Only
Below all the models use only the GVB data

### Data Preperation

In [23]:
#Select usable columns df
gvb.loc[gvb["VertrekHalteNaam"] == "Dam"]

,Unnamed: 0,Datum,UurgroepOmschrijving (van vertrek),VertrekHalteCode,VertrekHalteNaam,VertrekXCoord,VertrekYCoord,AantalRitten
0,5,2018-12-24,01:00 - 01:59,5031,Dam,489348393.0,5.237341e+09,58.0
1,8,2018-12-24,01:00 - 01:59,5068,Dam,489124121.0,5.237436e+09,28.0
2,16,2018-12-24,02:00 - 02:59,5031,Dam,489348393.0,5.237341e+09,103.0
3,18,2018-12-24,02:00 - 02:59,5068,Dam,489124121.0,5.237436e+09,25.0
4,26,2018-12-24,03:00 - 03:59,5031,Dam,489348393.0,5.237341e+09,39.0
5,29,2018-12-24,03:00 - 03:59,5068,Dam,489124121.0,5.237436e+09,10.0
6,36,2018-12-24,04:00 - 04:59,5031,Dam,489348393.0,5.237341e+09,14.0
7,158,2018-12-24,06:00 - 06:59,5065,Dam,489079364.0,5.237368e+09,12.0
9,409,2018-12-24,07:00 - 07:59,5031,Dam,489348393.0,5.237341e+09,10.0
10,413,2018-12-24,07:00 - 07:59,5063,Dam,489064590.0,5.237245e+09,13.0
11,414,2018-12-24,07:00 - 07:59,5065,Dam,489079364.0,5.237368e+09,21.0
13,767,2018-12-24,08:00 - 08:59,5031,Dam,489348393.0,5.237341e+09,24.0
14,768,2018-12-24,08:00 - 08:59,5032,Dam,489549359.0,5.237493e+09,18.0
16,774,2018-12-24,08:00 - 08:59,5063,Dam,489064590.0,5.237245e+09,21.0
17,775,2018-12-24,08:00 - 08:59,5065,Dam,489079364.0,5.237368e+09,62.0
19,1202,2018-12-24,09:00 - 09:59,5031,Dam,489348393.0,5.237341e+09,62.0
20,1203,2018-12-24,09:00 - 09:59,5032,Dam,489549359.0,5.237493e+09,16.0
23,1213,2018-12-24,09:00 - 09:59,5063,Dam,489064590.0,5.237245e+09,16.0
24,1214,2018-12-24,09:00 - 09:59,5065,Dam,489079364.0,5.237368e+09,107.0
26,1682,2018-12-24,10:00 - 10:59,5031,Dam,489348393.0,5.237341e+09,135.0
27,1683,2018-12-24,10:00 - 10:59,5032,Dam,489549359.0,5.237493e+09,22.0
30,1693,2018-12-24,10:00 - 10:59,5063,Dam,489064590.0,5.237245e+09,28.0
31,1694,2018-12-24,10:00 - 10:59,5065,Dam,489079364.0,5.237368e+09,217.0
32,1695,2018-12-24,10:00 - 10:59,5066,Dam,489027056.0,5.237318e+09,12.0
34,2209,2018-12-24,11:00 - 11:59,5031,Dam,489348393.0,5.237341e+09,185.0
35,2210,2018-12-24,11:00 - 11:59,5032,Dam,489549359.0,5.237493e+09,54.0
38,2221,2018-12-24,11:00 - 11:59,5063,Dam,489064590.0,5.237245e+09,49.0
39,2222,2018-12-24,11:00 - 11:59,5065,Dam,489079364.0,5.237368e+09,292.0
40,2223,2018-12-24,11:00 - 11:59,5066,Dam,489027056.0,5.237318e+09,19.0
42,2780,2018-12-24,12:00 - 12:59,5031,Dam,489348393.0,5.237341e+09,338.0
...,...,...,...,...,...,...,...,...
923,47885,2018-12-30,18:00 - 18:59,5065,Dam,489079364.0,5.237368e+09,1059.0
924,47886,2018-12-30,18:00 - 18:59,5066,Dam,489027056.0,5.237318e+09,43.0
926,48255,2018-12-30,19:00 - 19:59,5031,Dam,489348393.0,5.237341e+09,489.0
927,48256,2018-12-30,19:00 - 19:59,5032,Dam,489549359.0,5.237493e+09,177.0
930,48267,2018-12-30,19:00 - 19:59,5063,Dam,489064590.0,5.237245e+09,106.0
931,48268,2018-12-30,19:00 - 19:59,5065,Dam,489079364.0,5.237368e+09,885.0
932,48269,2018-12-30,19:00 - 19:59,5066,Dam,489027056.0,5.237318e+09,49.0
934,48610,2018-12-30,20:00 - 20:59,5031,Dam,489348393.0,5.237341e+09,436.0
935,48611,2018-12-30,20:00 - 20:59,5032,Dam,489549359.0,5.237493e+09,164.0
938,48622,2018-12-30,20:00 - 20:59,5063,Dam,489064590.0,5.237245e+09,86.0
939,48623,2018-12-30,20:00 - 20:59,5065,Dam,489079364.0,5.237368e+09,750.0
940,48624,2018-12-30,20:00 - 20:59,5066,Dam,489027056.0,5.237318e+09,41.0
942,48926,2018-12-30,21:00 - 21:59,5031,Dam,489348393.0,5.237341e+09,285.0
943,48927,2018-12-30,21:00 - 21:59,5032,Dam,489549359.0,5.237493e+09,104.0
946,48938,2018-12-30,21:00 - 21:59,5063,Dam,489064590.0,5.237245e+09,59.0
947,48939,2018-12-30,21:00 - 21:59,5065,Dam,489079364.0,5.237368e+09,570.0
948,48940,2018-12-30,21:00 - 21:59,5066,Dam,489027056.0,5.237318e+09,30.0
950,49204,2018-12-30,22:00 - 22:59,5031,Dam,489348393.0,5.237341e+09,266.0
951,49205,2018-12-30,22:00 - 22:59,5032,Dam,489549359.0,5.237493e+09,76.0
954,49215,2018-12-30,22:00 - 22:59,5063,Dam,489064590.0,5.237245e+09,36.0
955,49216,2018-12-30,22:00 - 22:59,5065,Dam,489079364.0,5.237368e+09,517.0
957,49457,2018-12-30,23:00 - 23:59,5031,Dam,489348393.0,5.237341e+09,274.0
958,49458,2018-12-30,23:00 - 23:59,5032,Dam,489549359.0,5.237493e+09,67.0
961,49468,2018-12-30,23:00 - 23:59,5063,Dam,489064590.0,5.237245e+09,42.0
962,49469,2018-12-30,23:00 - 23:59,5065,Dam,489079364.0,5.237368e+09,490.0
963,49470,2018-12-30,23:00 - 23:59,5066,Dam,489027056.0,5.237318e+09,29.0
965,49636,2018-12-31,00:00 - 00:59,5031,Dam,489348393.0,5.237341e+09,143.0
966,49637,2018-12-31,00:00 - 00:59,5032,Dam,489549359.0,5.237493e+09,24.0
969,49645,2018-12-31,00:00 - 00:59,5065,Dam,489079364.0,5.237368e+09,320.0
970,49646,2018-12-31,00:00 - 00:59,5066,Dam,489027056.0,5.237318e+09,12.0

In [24]:
gvb.VertrekHalteNaam.unique()

array(['Dam', 'Nieuwmarkt', 'Spui'], dtype=object)