# Time Series - GVB

## Imports

In [1]:
import pandas as pd
import plotly
from bubblyGVB import bubbleplot
plotly.offline.init_notebook_mode(connected=True)

## Import File

In [2]:
dataset = pd.read_csv("../../../Data_thesis/Full_Datasets/TimeSeriesGVB.csv")

In [3]:
dataset.head()

   weekday   Latitude  Longitude           Station  Passengers
0        0  52.371942   4.901239        Nieuwmarkt         358
1        0  52.373127   4.890080               Dam        1008
2        0  52.369097   4.889259              Spui         176
3        0  52.376288   4.893731  Nieuwezijds Kolk         195
4        0  52.377494   4.900781  Centraal Station        5055

## Functions

In [39]:
def plotTimeSeries(df):
    
    #Variables
    x_column = 'Longitude'
    y_column = 'Latitude'
    bubble_column = 'Station'
    time_column = 'weekday'
    size_column = 'Passengers'

    #Initialize grid
    grid = pd.DataFrame()
    
    figure = bubbleplot(dataset=dataset, x_column=x_column, y_column=y_column, 
        bubble_column=bubble_column, size_column=size_column, time_column=time_column, color_column=bubble_column,
        x_title="Longitude", y_title="Latitude", title="Mean Passenger Daily Passenger count 2018",
        x_logscale=False, scale_bubble=3, height=650, x_range=[min(dataset[x_column])-0.005, max(dataset[x_column])+0.005],
                       y_range=[min(dataset[y_column])-0.005, max(dataset[y_column])+0.005])

    plotly.offline.plot(figure)

In [40]:
plotTimeSeries(dataset)