# Twitter Data

## Imports

In [17]:
import tweepy
import pandas as pd

## Streaming Data

### Setup

In [29]:
consumer_token = "gIvSwKtU9niMSt9ExgDUj5EJq"
consumer_secret = "qhohs5pWWgmgRSIRMQbhGtukZo9HfSqxNL5JvPArWBM3vI6ChA"
access_token = "1042493065607487488-VnFnQlaPgOXPEvZKlYZrBgdNFRhDNP"
access_token_secret = "rpASAYed8Pu2JNr2uBdlhE1LXrKl7E5Vzsrblf1DVltSz"

In [30]:
auth = tweepy.OAuthHandler(consumer_token, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [54]:
tweet_dict = {}

### Count Tweets

In [58]:
queries = ["#Amsterdam","kings day amsterdam", "grachtengordel", "420 amsterdam","weed amsterdam"]
j = 1

for q in queries:
    for tweet in tweepy.Cursor(api.search,q=q,count=100,lang="en",since="2018-03-11").items():
        tweet_dict[j] = {"Created": tweet.created_at, "Test": tweet.text}
        j += 1

In [59]:
tweet_df = pd.DataFrame.from_dict(tweet_dict, orient="index")

In [72]:
tweet_df["Created"] = pd.to_datetime(tweet_df["Created"], format="%Y-%m-%d")

### Aggregate counts

In [77]:
tweet_df = tweet_df.groupby(tweet_df.Created.dt.date).count()

In [79]:
tweet_df.head()

            Created  Test
Created
2019-04-23      694   694
2019-04-24     2597  2597
2019-04-25     1235  1235
2019-04-26      976   976
2019-04-27     1036  1036

## File Data

### Import File

In [84]:
tweets_df = pd.read_csv("../../../Data_thesis/Twitter_Data/#amsterdam.csv", sep=";", error_bad_lines=False, encoding = "ISO-8859-1")

b'Skipping line 481: expected 10 fields, saw 11\nSkipping line 1031: expected 10 fields, saw 12\nSkipping line 1604: expected 10 fields, saw 11\nSkipping line 2831: expected 10 fields, saw 11\nSkipping line 3052: expected 10 fields, saw 11\n'

In [85]:
tweets_df.head()

,username,date,retweets,favorites,text,geo,mentions,hashtags,id,permalink
0,NaN,2019/05/02 13:50,0,0,Toerist uithangen in #amsterdam pic.twitter.co...,NaN,NaN,#amsterdam,1.123918e+18,https://twitter.com/EstherGruppen/status/11239...
1,NaN,2019/05/02 13:36,0,1,Wederom in #Amsterdam een vrachtauto staande w...,NaN,NaN,#Amsterdam,1.123914e+18,https://twitter.com/osvaldobongers/status/1123...
2,NaN,2019/05/02 10:21,5,13,De StreetScooter Work: een elektrisch bezorgvo...,NaN,NaN,#Amsterdam #Baarsjes,1.123865e+18,https://twitter.com/schlijper/status/112386512...
3,NaN,2019/05/02 08:00,1,3,Elke dinsdagavond rijden wij (afhankelijk van ...,NaN,NaN,#wielrennen #vrouwenwielrennen #amsterdam #cyc...,1.123829e+18,https://twitter.com/fietsbelles/status/1123829...
4,NaN,2019/05/02 06:52,2,25,Goedemorgen vanuit mijn kantoortje #Cruquiusei...,NaN,NaN,#Cruquiuseiland #Amsterdam,1.123812e+18,https://twitter.com/GeurtRoekel/status/1123812...

In [89]:
tweets_df["date"] = pd.to_datetime(tweets_df["date"], format="%Y-%m-%d")
tweet_counts = tweets_df.groupby(tweets_df.date.dt.date).count()

In [91]:
tweet_counts.head()

,username,date,retweets,favorites,text,geo,mentions,hashtags,id,permalink
date,,,,,,,,,,
2018-03-11,0,39,39,39,39,0,17,39,39,39
2018-03-12,0,9,9,9,9,0,4,9,9,9
2018-03-13,0,14,14,14,14,0,7,14,14,14
2018-03-14,0,19,19,19,19,0,8,19,19,19
2018-03-15,0,15,15,15,15,0,5,15,15,15